.card{
    width:  100%;
    cursor: pointer;
    transition:  all 250ms ease-in-out;
}
.card:hover{
    transform: translateY(-4px);
}
.card-title{
    font-size: 0.8rem;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 200px;
    height: 200px;
}